.add-product{
  width: 400px;
  margin: 40px auto;
}

form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input{
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

button{
  padding: 12px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}