.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  padding: 50px;
}

.details img {
  width: 100%;
  border-radius: 20px;
}

.details button {
  padding: 15px 30px;
  background: #111827;
  color: white;
  border: none;
  border-radius: 10px;
}